* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
}

html {
  font-size: 62.5%;
  color: #fff;
}

/* ########################################### */
/* BODY */

.calculator {
  margin: 5rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 60rem;
  /* height: 86rem; */

  background-color: #e9ecef;

  border-radius: 20px;
  /* border: 0.1rem solid #c8ced4; */
  box-shadow: 0 10px #c8ced4;
}

/* ########################################### */
/* OUTPUT */

.title {
  margin: 2rem 0;

  align-self: center;
  justify-self: center;

  font-size: 2rem;
  color: #686868;
}

.output {
  margin-bottom: 4.8rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  width: 85%;
  height: 15rem;

  background-color: #ced4da;

  border-radius: 20px;
  border: 0.4rem solid #c8ced4;

  font-size: 8rem;
}

/* so the output-mem won't fall under main output */
.output::after {
  content: "";
  height: 15rem;
}

.output-mem {
  font-size: 2.6rem;

  margin: -1.6rem 0;
}

/* ########################################### */
/* BUTTONS */

.buttons {
  margin-bottom: 3.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 2rem;

  width: 90%;
  height: 70%;

  border-radius: 20px;

  /* background-color: #ffc691; */
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 9rem;
  height: 9rem;

  border: none;
  border-radius: 15px;
  box-shadow: 0 8px #adb5bd;

  color: inherit;
  background-color: #ced4da;

  font-size: 3rem;
}

.btn:hover {
  background-color: #c8ced4;
}
.btn:active {
  /* background-color: #686868; */
  /* background-color: #ced4da; */
  box-shadow: 0 4px #868e96;
  transform: translateY(4px);
}

/* CERTAIN BUTTONS */
.btn--2-row {
  height: 22rem;
  grid-row: span 2;
}

.btn--2-col {
  width: 22rem;
  grid-column: span 2;
}

.btn--clear {
  background-color: #ff922b;
}

.btn--clear:hover {
  background-color: #fd7e14;
}

.btn--res {
  background-color: #686868;
}

.btn--res:hover {
  background-color: #5a5a5a;
}

.icon {
  width: 3.2rem;
}
